/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #121212; /* Dark Black */
  color: #fff; /* Light Orange */
  line-height: 1.7;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* Footer Styles */
.footer {
  background-color: #000000; /* Black */
  color: #fff; /* Light Orange */
  padding: 40px 20px;
  border-top: 1px solid #333333; /* Darker border */
  box-sizing: border-box;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  align-items: center;
  /* Center items horizontally */
  max-width: 1200px;
  margin: 0 auto;
}

/* Style the logo container */
.footer-logos {
  display: flex;
  justify-content: center;
  /* Center logos horizontally */
  gap: 20px;
  /* Space between logos */
  margin-bottom: 20px;
  /* Space below logos */
}

.footer-logos img {
  height: 80px;
  /* Adjust logo size */
  border-radius: 50%;
}

/* Style the content container */
.footer-content {
  display: flex;
  justify-content: space-around;
  /* Space out the team and faculty sections */
  width: 100%;
  /* Take full width */
  margin-bottom: 20px;
  /* Space below content */
}

.footer-column {
  flex: 1;
  min-width: 250px;
  text-align: left;
}

.footer-center h3,
.footer-right h3,
.footer-dev h3 {
  color: #FFA726; /* Orange */
  margin-bottom: 15px;
  font-size: 1.4em;
}

.footer-center p,
.footer-right p,
.footer-dev p {
  margin: 5px 0;
}

.footer-right ul,
.footer-dev ul {
  list-style: none;
  padding: 0;
}

.footer-right li,
.footer-dev li {
  margin: 5px 0;
}

.footer-right a,
.footer-dev a {
  color: #fff; /* Light Orange */
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #333333; /* Darker border */
  clear: both;
  width: 100%;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 0.9em;
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    /* Stack columns on small screens */
    align-items: center;
    /* Center items horizontally */
  }

  .footer-column {
    width: 100%;
    /* Make columns full width */
    text-align: center;
    /* Center text in columns */
    margin-bottom: 20px;
    /* Add space between columns */
  }

  .footer-logos {
    justify-content: center;
  }
}

/* Mobile-Specific Adjustments */
@media (max-width: 480px) {
  .footer-logos {
    flex-direction: column;
    /* Stack logos vertically */
    align-items: center;
    /* Center logos */
  }

  .footer-logos img {
    margin-bottom: 10px;
    /* Add space between logos */
  }

  .footer-content {
    padding: 0 10px;
    /* Add some padding to the content */
  }

  .footer-column {
    min-width: auto;
    /* Allow columns to shrink */
    padding: 0 10px;
    /* Add padding to the columns */
  }

  .footer-center h3,
  .footer-right h3,
  .footer-dev h3 {
    font-size: 1.2em;
    /* Reduce heading size */
  }

  .footer-center p,
  .footer-right p,
  .footer-dev p {
    font-size: 0.9em;
    /* Reduce paragraph size */
  }
  .footer-center ul p {
    text-align: center;
    /* Ensure text inside list items is centered */
  }
}

/* Center-align specific content on smaller screens */
@media (max-width: 480px) {
  .footer-center {
    text-align: center;
    /* Center-align the entire .footer-center */
  }

  .footer-center ul {
    padding: 0;
    /* Remove default padding */
    margin: 0 auto;
    /* Center the list */
    display: inline-block;
    /* Make the list an inline-block element */
  }

  .footer-center ul p {
    text-align: center;
    /* Ensure text inside list items is centered */
  }
}

/* History Section - Mobile Layout */
@media (max-width: 768px) {
  .history-item {
    flex-direction: column;
    /* Stack text and image vertically */
    text-align: center;
    /* Center content */
  }

  .history-item.history-reverse {
    flex-direction: column;
    /* Ensure reverse items also stack vertically */
  }

  .history-item .history-text {
    padding: 20px;
    /* Adjust padding */
  }

  .history-item .history-img {
    margin-top: 20px;
    /* Add space between text and image */
  }

  .history-item .history-img img {
    max-width: 80%;
    /* Adjust image size */
    height: auto;
  }
}

/* Button Styles */
.visit-button,
.back-button,
.register-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  /* Common styles */
}

/* Visit Button */
.visit-button {
  background-color: #FFA726; /* Orange */
  color: #000000; /* Black */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.visit-button:hover {
  background: #ff910024; /* Darker Orange */
  color: #000000; /* Black */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  border: 1px solid white;
}

/* Back Button */
.back-button {
  background-color: #333333; /* Dark Gray */
  color: #FFA726; /* Light Orange */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #555555; /* Medium Gray */
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Register Button */
.register-button {
  background-color: #591111; /* Green */
  color: #000000; /* Black */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-button:hover {
  background-color: #388E3C; /* Darker Green */
  color: #000000; /* Black */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* Hero Section */
/* Make the video cover the entire hero section */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Center the content on top of the video */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

/* Logo styling */
.hero-logo {
  width: 500px; /* Default logo size */
  height: auto;
  /* margin-bottom: 20px; */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-logo {
    width: 350px;
  }
}

@media (max-width: 480px) {
  .hero-logo {
    width: 300px; /* Smaller logo on mobile devices */
  }
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #FF5722; /* Deep Orange */
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: 0.4s  linear;
}

.cta-button:hover {
  background-color: #e649191a; /* Darker Deep Orange */
  border: 1px solid white;
  scale: 1.08;
}

/* Header Section */
.header {
  background: linear-gradient(
      to bottom,
      rgba(18, 18, 18, 0.7),
      rgba(18, 18, 18, 1)
    ),
    url("logo.jpg") center/cover no-repeat;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh; /* Make header full screen */
  width: 100%; /* Ensure full width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 87, 34, 0.6) 100%
  );
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.header h1 {
  font-size: 3.5em;
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: none;
  line-height: 1.2;
  color: #FFA726; /* Orange */
}

.header p {
  font-size: 1.2em;
  margin-bottom: 35px;
  color: #fff; /* Light Orange */
}

/* Technological Background Animation */
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='600'%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23FF5722' /%3E%3Cstop offset='100%25' stop-color='%23E64A19' /%3E%3C/linearGradient%3E%3Cfilter id='blur' x='-10%25' y='-10%25' width='120%25' height='120%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='5' /%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' stroke='url(%23gradient)' stroke-width='1' filter='url(%23blur)'%3E%3Cpath d='M100 100 C300 200 500 200 700 100'/%3E%3Cpath d='M150 300 C350 400 550 400 750 300'/%3E%3Cpath d='M200 500 C400 600 600 600 800 500'/%3E%3Cpath d='M50 200 C250 300 450 300 650 200'/%3E%3Cpath d='M250 400 C450 500 650 500 850 400'/%3E%3Cpath d='M0 300 C200 400 400 400 600 300'/%3E%3Cpath d='M300 100 C500 200 700 200 900 100'/%3E%3Cpath d='M50 500 C250 600 450 600 650 500'/%3E%3Cpath d='M400 0 C600 100 800 100 1000 0'/%3E%3Cpath d='M450 200 C650 300 850 300 1050 200'/%3E%3C/g%3E%3C/svg%3E");
  animation: moveLines 40s linear infinite;
  opacity: 0.3;
  mix-blend-mode: overlay;
}

@keyframes moveLines {
  0% {
    transform: translate(-100px, -100px);
  }
  100% {
    transform: translate(100px, 100px);
  }
}

/* Navigation Bar */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.651); /* Black with transparency */
  backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-bottom: 2px solid #ff56224a; /* Deep Orange */
  padding: 0 20px;
}

.navbar_menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
}

/* Center Navbar Items */
@media (min-width: 769px) {
  .navbar_menu {
    justify-content: center; /* Center items on larger screens */
  }
}

/* Mobile Navbar Styles */
@media (max-width: 768px) {
  .navbar_menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin-left: 10px;
  }
}

.navbar_item {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0 15px;
  flex-shrink: 0;
}

.navbar_link {
  color: #fff; /* Light Orange */
  text-decoration: none;
  padding: 10px 0;
  border-radius: 0;
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
}

.navbar_link i {
  margin-right: 5px;
  transition: transform 1s linear; /* Adjusted transition duration */
}

.navbar_link:hover i {
  transform: rotate(360deg);
}

.navbar_link span {
  display: block;
}

.navbar_link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #FF5722; /* Deep Orange */
  transition: width 0.4s ease, left 0.4s ease;
  z-index: 1;
}

.navbar_link:hover {
  color: #FFFFFF;
  transform: translateY(-3px);
}

.navbar_link:hover::before {
  width: 100%;
  left: 0;
}

/* General Content Styles */
.content {
  padding: 0;
  max-width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Events Section */
.events {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  box-sizing: border-box;
}

.events h2 {
  font-size: 2.8em;
  color: #FFA726; /* Orange */
  margin-bottom: 10px;
  text-align: center;
  transition: color 0.3s;
}

.events p {
  color: #fff; /* Light Orange */
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

/* Mobile Styles for Event Grid */
@media (max-width: 768px) {
  .events-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Smaller event cards */
    justify-content: center; /* Center the grid */
  }
}

.event-card {
  background-color: #171717; /* Black */
  border-radius: 15px;
  padding: 30px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #dedbdb94; /* Darker border */
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.event-card::before,
.event-card::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    transparent,
    #FF5722, /* Deep Orange */
    transparent
  );
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.event-card:hover::before,
.event-card:hover::after {
  opacity: 0.8;
}

.event-card::before {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
}

.event-card::after {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  transform: rotate(180deg);
}

.event-card h3 {
  color: #FFA726; /* Orange */
  margin-bottom: 12px;
  transition: color 0.3s;
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
}

.event-card p {
  color: #fff; /* Light Orange */
  font-size: 1em;
  line-height: 1.6;
  text-align: left;
}

/* Schedule Section */
.schedule-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  box-sizing: border-box;
}

.schedule-section h2 {
  font-size: 2.8em;
  color: #FFA726; /* Orange */
  margin-bottom: 30px;
  text-align: center;
  transition: color 0.3s;
}

.schedule-section h3 {
  color: #FFA726; /* Orange */
  margin-top: 30px;
  margin-bottom: 20px;
  transition: color 0.3s;
  font-size: 1.4em;
  font-weight: 500;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-sizing: border-box;
}

.schedule-table th,
.schedule-table td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #333333; /* Darker border */
  transition: border-color 0.3s;
  font-weight: 400;
}

.schedule-table th {
  background-color: #333333; /* Dark Gray */
  color: #FFFFFF;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
}

.schedule-table tbody tr:hover {
  background-color: rgba(51, 51, 51, 0.7); /* Darker background */
  transition: background-color 0.3s;
}

/* History Section */
.history-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  box-sizing: border-box;
}

.history-section h2 {
  font-size: 2.8em;
  color: #FFA726; /* Orange */
  margin-bottom: 40px;
  text-align: center;
  transition: color 0.3s;
}

.history-item {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.history-item:last-child {
  margin-bottom: 0;
}

.history-item .history-text {
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
}

.history-item .history-text h3 {
  color: #FFA726; /* Orange */
  margin-bottom: 15px;
  transition: color 0.3s;
  font-size: 1.5em;
  font-weight: 500;
}
.history-item .history-text p {
  color: #fff; /* Light Orange */
  font-size: 1.1em;
  line-height: 1.7;
}

.history-item .history-img {
  flex: 1;
  text-align: center;
}

.history-item .history-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  height: 250px;
  border: 1px solid;
  border-color: #fff; /* Light Orange */
}

/* Register Button */
.register-button,
.explore-button {
  display: inline-block;
  padding: 14px 30px;
  background-color: #FF9800; /* Deep Orange */
  color: #000000;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-button:hover,
.explore-button:hover {
  background-color: #e6491907; /* Darker Deep Orange */
  transform: translateY(-4px);
  border: 1px solid white;
  color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Toggle Button Style */
#toggle-btn {
  display: block;
  margin: 30px auto;
  padding: 12px 25px;
  background-color: #FF5722; /* Deep Orange */
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.1em;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#toggle-btn:hover {
  background-color: #E64A19; /* Darker Deep Orange */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (min-width: 769px) {
  .navbar_menu {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .navbar_menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin-left: 10px;
  }
}

.navbar_item {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0 15px;
  flex-shrink: 0;
}

.navbar_link {
  color: #fff; /* Light Orange */
  text-decoration: none;
  padding: 10px 0;
  border-radius: 0;
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
}

.navbar_link i {
  margin-right: 5px;
  transition: transform 0.5s linear;
}

.navbar_link:hover i {
  transform: rotate(360deg);
}

.navbar_link span {
  display: block;
}

.navbar_link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #FF5722; /* Deep Orange */
  transition: width 0.4s ease, left 0.4s ease;
  z-index: 1;
}

.navbar_link:hover {
  color: #FFFFFF;
  transform: translateY(-3px);
}

.navbar_link:hover::before {
  width: 100%;
  left: 0;
}

/* Sponsor Section */
.sponsors {
  padding: 60px 20px;
  text-align: center;
  box-sizing: border-box;
}

.sponsors h2 {
  font-size: 2.8em;
  color: #FFA726; /* Orange */
  margin-bottom: 30px;
  text-align: center;
  transition: color 0.3s;
}

.sponsors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.sponsors-grid img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  transition: 0.3s;
}

.sponsors-grid img:hover {
  scale: 1.05;
}

/* Footer Styles */
.footer {
  background-color: #000000; /* Black */
  color: #fff; /* Light Orange */
  padding: 40px 20px;
  border-top: 1px solid #333333; /* Darker border */
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  align-items: center;
  margin-right: auto; /* Push to the left*/
}
.footer-center h3 {
  color: #FFA726;/* Orange */
  margin-bottom: 15px;
  font-size: 1.4em;
}

.footer-center p {
  margin: 8px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #333333; /* Darker border */
  clear: both;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 0.9em;
}

/* Enhanced Event Card Styling */
#department-boxes .event-card,
#tech-non-tech-events .event-card {
  background-color: #171717;
  border-radius: 12px;
  padding: 25px;
  text-align: left;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #dedbdb94;
}

#department-boxes .event-card h3,
#tech-non-tech-events .event-card h3 {
  color: #FFA726; /* Orange */
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
  transition: color 0.3s;
  text-align: left;
}

#department-boxes .event-card p,
#tech-non-tech-events .event-card p {
  color: #fff; /* Light Orange */
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
}

#department-boxes .event-card:hover,
#tech-non-tech-events .event-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

#department-boxes .event-card::before,
#tech-non-tech-events .event-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #FF5722, transparent); /* Deep Orange */
}

#department-boxes .event-card::after,
#tech-non-tech-events .event-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  transform: rotate(180deg);
}

.visit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF9800; /* Orange */
  color: #000000; /* Black */
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.visit-button:hover {
  background-color: #ff562201; /* Deep Orange */
  scale: 1.05;
  border: 1px solid;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.visit-button i {
  margin-left: 5px;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFA726; /* Dark Gray */
  color: black; /* Light Orange */
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  text-align: left;
  width: auto;
}

.back-button:hover {
  background-color: #55555500; /* Medium Gray */
  border: 2px solid;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.back-button i {
  margin-right: 5px;
}

/* Style for back button above the grid */
.events-grid > .back-button {
  grid-column: 1 / -1; /* Span all columns */
  text-align: left; /* Align to the left */
  margin-bottom: 10px; /* Add some space below the button */
  width: auto;
  padding: 10px 20px;
  font-size: 0.9em;
  display: none; /* Hidden by default */
}

/* Show back button when needed */
#tech-non-tech-events.show-back-button > .back-button,
#tech-events.show-back-button > .back-button,
#non-tech-events.show-back-button > .back-button {
  display: inline-block;
}

/* Shaking animation */
#shake{
    text-align: center;
    animation: skew-x-shaking 1s linear infinite;
    animation-delay: 2s;

}

@keyframes skew-x-shaking {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 767px) {
    .hero-title {
        font-size: 2.5rem; /* Smaller title for better fit */
    }

    .hero-slogan {
        font-size: 1rem; /* Adjust slogan size */
    }

    .hero-content .btn {
        padding: 10px 20px; /* Adjust button padding */
        font-size: 0.9rem; /* Smaller button text */
    }

    .navbar_menu {
        justify-content: space-around; /* Distribute items evenly */
    }

    .navbar_item {
        margin: 0; /* Remove extra margins */
    }

    .navbar_link {
        padding: 8px; /* Reduce padding */
        font-size: 0.85rem; /* Smaller font size */
    }

    .events h2 {
        font-size: 2.2rem; /* Smaller heading */
    }

    .events p {
        font-size: 1rem; /* Adjust paragraph size */
    }

    .events-grid {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .event-card {
        padding: 20px; /* Reduce padding in cards */
    }

    .event-card h3 {
        font-size: 1.2rem; /* Smaller heading in cards */
    }

    .schedule-section h2 {
        font-size: 2.2rem; /* Smaller schedule heading */
    }

    .schedule-table th,
    .schedule-table td {
        padding: 10px; /* Reduce table cell padding */
        font-size: 0.9rem; /* Smaller table font */
    }

    .history-section h2 {
        font-size: 2.2rem; /* Smaller history heading */
    }

    .history-item {
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center align text */
    }

    .history-item .history-img img {
        height: auto; /* Adjust image height */
        max-width: 80%; /* Limit image width */
        margin-bottom: 15px; /* Add space below image */
    }

    .sponsors h2 {
        font-size: 2.2rem; /* Smaller sponsors heading */
    }

    .sponsors-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns for sponsors */
    }

    .footer-container {
        flex-direction: column; /* Stack footer items */
        text-align: center; /* Center align footer text */
    }

    .footer-left,
    .footer-center {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 20px; /* Add space below */
    }

    .footer-bottom p {
        font-size: 0.8rem; /* Smaller footer font */
    }
}

/* Very small screens (e.g., 320px and below) */
@media (max-width: 320px) {
    .hero-title {
        font-size: 2rem; /* Further reduce title size */
    }

    .hero-slogan {
        font-size: 0.9rem; /* Even smaller slogan */
    }

    .hero-content .btn {
        font-size: 0.8rem; /* Tiny button text */
    }

    .navbar_link {
        font-size: 0.75rem; /* Very small nav links */
    }

    .events h2,
    .schedule-section h2,
    .history-section h2,
    .sponsors h2 {
        font-size: 2rem; /* Reduce heading sizes */
    }

    .sponsors-grid {
        grid-template-columns: 1fr; /* Single column for sponsors */
    }
}
